@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Welcome to my this converter.</p>
    <p>if you want to see what temperature is in Fahrenheit or Celsius click on the
    temperature page. If you want to convert pounds to Ounces 
    or ounces, grams or milligrams to pounds click on the mass page</p>
</div>
