@page
@model ConverterHomework.MassModel
@{
    ViewData["Title"] = "Mass";
}

<h1>Mass</h1>

<form method="post">
    what would you like converted?
    <select name="massType">
        <option value="0">Pounds to Ounces</option>
        <option value="1">Ounces to Pounds</option>
        <option value="2">Grams to Pounds</option>
        <option value="3">Milligrams to Pounds</option>
    </select>
    <br />
    what value would you like converted <input input type="number" step="any"  name="value" required value="">
    <br />
    <input type="submit" value="Convert" />
</form>


<p>the conversion is @Model.conversion </p>

