@page
@model ConverterHomework.TemperatureModel
@{
    ViewData["Title"] = "Temperature";
}

@*need to make this look nicer but it does function as inteded I need to add
    regex to only allow digits and require input
*@
<h1>Temperature</h1>

    <form method="post">
      Conversion Method  <select name="tempType">
            <option value="0">Fahrenheit to Celsius</option>
            <option value="1">Celsius to Fahrenheit</option>
        </select>
        <br />
        
        Enter the Temperature you want to convert <input  name="value">
        <input type="submit" title="enter" />
        <br />
    </form>
    <p>the converted Temperature is @Model.conversion  </p>

